body {
  background-color: #576279;
}
/**
* Selection Type Nouvelle Gallerie
**/
.TypeSelectionPage {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-child {
  flex: 1;
  margin-left: 5%;
}

.Selection img {
  height: 200px;
  margin-right: 200px;
  margin-left: 200px;
}

.Personnel {
  width: 300px;
}

.Groupe {
  width: 250px;
}

input[type="radio"] {
  text-align: center;
  margin-left: 200px;
  margin-right: 30px;
  margin-top: 20px;
  transform: scale(2);
}
input[type="text"] {
  text-align: center;
  margin-top: 20px;
  transform: scale(2);
}
label {
  font-size: 30px;
}

.SubmitHolder {
  text-align: center;
  margin-top: 100px;
}

#titre {
  text-align: center;
}

h1 {
  margin-bottom: 10%;
  margin-top: 10%;
  font-size: 50;
}

button {
  transform: scale(2);
}

.button {
  appearance: auto;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: rgb(239, 239, 239);
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
  transform: scale(2);
}
