body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


/**
Parametres utilisateurs
**/

#photoProfil,
#carteParametresUtilisateur {
    display: block;
}

#photoProfil {
    padding-left: 700px;
    padding-top: 50px;
    width: 10px;
    height: 10px;
}

#carteParametresUtilisateur {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 700px;
    width: 900px;
    margin-left: 630px;
    margin-top: -10px;
    padding-top: 50px;
    background-color: #1b1b28;
    border-radius: 45px;
}

#carteText {
    padding-left: 40%;
    margin-top: -50px;
    font-size: 30px;
    color: white;
}

.champSaisieUtilisateur {
    border-radius: 45px;
    width: 300px;
    resize: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 1.2px;
    padding-left: 20px;
    margin-bottom: 30px;
    margin-right: 360px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 900;
    color: rgba(22, 21, 21, 0.8);
    line-height: 1.5;
    margin-right: 200px;
}

h9 {
    font-size: 18px;
    font-weight: 900;
    color: hsla(0, 0%, 100%, .8);
    line-height: 1.5;
    margin-right: 200px;
}

h5 {
    color: hsla(0, 0%, 100%, .8);
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonConfirmer {
    width: 250px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: yellowgreen;
    border-radius: 45px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/**
* Parametres de la galerie
**/

#carteParametresGalerie {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 700px;
    width: 900px;
    margin-left: 630px;
    background-color: #1b1b28;
    border-radius: 45px;
    margin-top: 50px;
}

#carteParametresGalerie h5 {
    margin-top: 70px;
    margin-left: -10px;
}

#carteParametresGalerie,
#navigationBar {
    display: inline-block;
}

.champSaisieGalerie {
    border-radius: 45px;
    width: 300px;
    resize: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 1.2px;
    padding-left: 20px;
    margin-bottom: 30px;
    margin-right: 360px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 900;
    color: rgba(22, 21, 21, 0.8);
    line-height: 1.5;
    margin-right: 200px;
    margin-left: -300px;
}

#infoText {
    background-color: #252533;
    font-size: large;
    margin-left: -200px;
    margin-right: 100px;
    margin-bottom: 50px;
}

#carteParametresGalerie h9 {
    margin-left: -300px;
    padding-right: 290px;
}

#carteParametresGalerie textarea {
    width: 500px;
    margin-left: -300px;
}

#carteParametresGalerie label {
    font-size: medium;
}

#carteParametresGalerie input {
    margin-left: -300px;
}

select {
    border-radius: 45px;
    width: 300px;
    height: 30px;
    resize: none;
    font-family: "Times New Roman", Times, serif;
    margin-left: -300px;
    margin-top: -20px;
}

#lien {
    padding-left: 250px;
}

#h8 {
    font-size: 18px;
    font-weight: 900;
    color: hsla(0, 0%, 100%, .8);
    line-height: 1.5;
}


/**
* Bare de navigation
**/

#navigationBar {
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0px;
    position: fixed;
    margin-top: -2%;
    margin-left: -1%;
}

#navigationBar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

#navigationBar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

#navigationBar ul li a {
    color: #bdb8d7;
    display: block;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

#navigationBar ul li a .fas {
    width: 25px;
}

#navigationBar ul li:hover {
    background-color: #594f8d;
}

#navigationBar ul li:hover a {
    color: #fff;
}

#paraUtilisateur {
    margin-top: 32rem;
}

#deconnexion {
    background-color: darkred;
}


/**
* Liste des albums
*/

#listeAlbums {
    margin-left: 20%;
    padding-top: 5%;
}

#listeAlbums b {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
}

.carteAlbum {
    /* Add shadows to create the "card" effect */
    width: 255px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: cornsilk;
    display: inline-table;
    margin-right: 50px;
    text-align: center;
}


/* On mouse-over, add a deeper shadow */

.carteAlbum {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.carteAlbum {
    padding: 2px 16px;
}

.carteAlbum b {
    font-size: x-large;
    text-align: center;
}


/*Affichage des photos*/

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.gallerycontainer {
    width: 60%;
    margin: 2rem auto;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img_div {
    width: 80%;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid #cbcbcb;
}

#img_div:after {
    content: "";
    display: block;
    clear: both;
}

#image {
    float: left;
    margin: 5px;
    width: 300px;
    height: 140px;
}


/*bar d'action*/

.actionsbar-container {
    width: 80%;
    margin: auto;
}

.actionsbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.actionsbar-li {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.actionsbar-a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


/*popup*/

.bg-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-content {
    width: 500px;
    height: 300px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    border-radius: 4px;
    position: relative;
}

.popup-input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.btn-fermer {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 35px;
    transform: rotate(45deg);
    cursor: pointer;
}

#button {
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 28px;
    color: white;
    display: inline-block;
    cursor: pointer;
}